body {
    background-color: #f3f4f5
}
.subtitulo{
    color:rgb(122, 59, 59);
    text-align: center;
    font-size: x-large;
    font-style: initial;
    font-weight: 800;
}

#imagen1{
    width: 400px;
     margin:auto;
     display:block;
     height: 400;
}
     #imagen1:hover {
        -o-transform:scale(1);
    } 

#parrafo1{

    text-indent: 30px;

}
 #div1{
    background-color:rgb(122, 59, 59) ;
}
#parrafo2{
    text-align: center;
    text-indent: 30px;

}

.Titulo { 
    color:rgb(122, 59, 59);
    text-align: center;
    font-size: x-large;
    font-style: initial;
    font-weight: 900;
}
